# 함수
컴퓨터에게 시킬 일

즉, 컴퓨터가 할 행위

## 함수의 만들기
<pre>
def 함수명():
  실행문
</pre>  

## 함수 사용
<pre>
함수명()

### 1. 입력값이 없는 함수

In [0]:
def hello():
  return 'hello'

In [2]:
print(hello())

hello

In [3]:
a=hello()
print(a)

hello

### 2. 결과값이 없는 함수

In [0]:
# 여기서 함수를 정의할 때 들어가는 a, b 같은 값들을 매개 변수라고 한다.
def sumAB(a,b):
  print('{}+{}={}'.format(a,b,a+b))

In [5]:
sumAB(2,3)

2+3=5

### 3. 입력도 결과값도 없는 함수

In [0]:
def Hi():
  print('Hi')

In [7]:
Hi()

Hi

### 4. 매개변수 지정해서 호출

In [0]:
def add(a,b):
  return a+b

In [9]:
print(add(1,3))

4

### 5.입력값 수가 미정일 때
<pre>
def 함수이름(*매개변수):
  실행할 문장

In [0]:
# args는 arguments(독립변수)의 줄임말
# 그냥 변수들 정로로 이해하자.
def add_many(*args):
  sum=0
  for i in args:
    sum = sum+i
  return sum

In [11]:
print(add_many(1,2,3,4,5))

15

In [0]:
# add_mul
def add_mul(choice,*args):
  if choice == 'add':
    result = 0
    for i in args:
      result=result+i
      
  elif choice =='mul':
    result =1
    for i in args:
      result=result*i
  return result

In [18]:
print(add_mul('mul',1,2,3,4,5))

120

In [19]:
print(add_mul('add',1,2,3,4,5,6,7,8,9))

45

### 6. lambda
함수를 만들 때 사용하는 예약어

def와 유사

<pre>
*lambda를 이용해 함수 만드는 법:
함수명 = lambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 식

In [0]:
def add(a,b):
  return(a+b)

In [22]:
add2 = lambda a,b : a+b
add2(3,4)

7

## 문제 풀고 함수 만들어보기

In [28]:
# 1000 미만의 수중에 3과 5의 배수의 합 구하기
sum=0
for i in list(range(1,1000)):
  if i%15==0:
    sum=sum+i
  elif i%5==0:
    sum=sum+i
  elif i%3==0:
    sum=sum+i
  else:
    pass
print(sum)

233168

In [27]:
a=list(range(1,100))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [33]:
sum=0
for i in range(1,1000):
  if i%3==0 or i%5==0:
    sum=sum+i
print(sum)

233168

In [44]:
def sum35(a,num1,num2):
  sum=0
  for i in range(1,a):
    if i%num1==0 or i%num2==0:
      sum=sum+i
  return sum

a=int(input('범위를 입력 :'))     
b=int(input('숫자1 입력 :'))
c=int(input('숫자2 입력 :'))
final=sum35(a,b,c)

print(sum)

범위를 입력 :1000
숫자1 입력 :2
숫자2 입력 :3
233168

In [0]:
13