# for문
횟수 혹은 값의 수 만큼 반복하는 제어문

## for문의 기본 구조
<pre>
* 형식:
  for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2
    ...

## for문 사용하기

In [0]:
list1=['a','b','c']
for i in list1:
  print(i)

a
b
c

In [0]:
a=[(2,4),(6,8),(9,10)]
for i in a:
  print(i)

(2, 4)
(6, 8)
(9, 10)

In [0]:
for i , j in a:
  print(i,j)

2 4
6 8
9 10

In [0]:
# 합/불합격 통보 프로그램
scores = [80, 70, 75, 85, 55]
num=0
for score in scores:
  num=num+1
  if score  >= 60:
    print('{}번 학생 합격입니다.'.format(num))
  else:
    print('{}번 학생 불합격입니다.'.format(num))

1번 학생 합격입니다.
2번 학생 합격입니다.
3번 학생 합격입니다.
4번 학생 합격입니다.
5번 학생 불합격입니다.

### enumerate()
순서가 있는 자료형(리스트, 튜플, 문자열)을 받아 인덱스(순번)과 값을 돌려줌.

for 문과 자주 사용됨.
앞이 인덱스 0부터시작이니까 0+1, k는 이름

In [0]:
for i,k in enumerate(['철수','민수','명수']) :
  print('{}번 학생 이름은 {}입니다.'.format(i+1,k))

1번 학생 이름은 철수입니다.
2번 학생 이름은 민수입니다.
3번 학생 이름은 명수입니다.

In [0]:
# 합/불합격 통보 프로그램
scores = [80,70,75,85,55]
for i,k in enumerate(scores):
  if k>=60 :
    print('{}번 학생은 합격'.format(i+1))
  else:
    print('{}번 학생은 불합격'.format(i+1))

1번 학생은 합격
2번 학생은 합격
3번 학생은 합격
4번 학생은 합격
5번 학생은 불합격

## continue
for 문에 continue 이용
continue 쓰면 그 밑이 실행안되고 위로 올라감

In [0]:
# 합격 통보기
scores = [80, 70, 75, 85, 55]
for i,score in enumerate(scores) :
  if score >=75 :
   print('{}번 학생 합격'.format(i+1))
  else:
   continue
   print('불합') # 이 부분 실행 안됨

1번 학생 합격
3번 학생 합격
4번 학생 합격

## range()
for 문에 range()이용

In [0]:
list1 = list(range(1,11))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [0]:
# 1부터 10까지 더하기
sum=0
for i in range(1,11):
  sum=sum+i
print(sum)

55

In [0]:
# 리스트길이를 모를때 합격 통보기
scores = [90, 25, 67, 45, 80]

for score in range(len(scores)):
 
  if scores[score] > 60:
    print('{}번학새은 합격입니다'.format(score+1))

1번학새은 합격입니다
3번학새은 합격입니다
5번학새은 합격입니다

## 구구단
for문을 중첩하여 구구단 만들기

In [0]:
for i in range(2,10):
  for j in range(1,10):
    print(i*j,end=' ')
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [0]:
for i in range(2,10):
  print(i,'단')
  for j in range(1,10):
    print('{}X{}={}'.format(i,j,i*j),end=' ')
  print('');print()

2 단
2X1=2 2X2=4 2X3=6 2X4=8 2X5=10 2X6=12 2X7=14 2X8=16 2X9=18

3 단
3X1=3 3X2=6 3X3=9 3X4=12 3X5=15 3X6=18 3X7=21 3X8=24 3X9=27

4 단
4X1=4 4X2=8 4X3=12 4X4=16 4X5=20 4X6=24 4X7=28 4X8=32 4X9=36

5 단
5X1=5 5X2=10 5X3=15 5X4=20 5X5=25 5X6=30 5X7=35 5X8=40 5X9=45

6 단
6X1=6 6X2=12 6X3=18 6X4=24 6X5=30 6X6=36 6X7=42 6X8=48 6X9=54

7 단
7X1=7 7X2=14 7X3=21 7X4=28 7X5=35 7X6=42 7X7=49 7X8=56 7X9=63

8 단
8X1=8 8X2=16 8X3=24 8X4=32 8X5=40 8X6=48 8X7=56 8X8=64 8X9=72

9 단
9X1=9 9X2=18 9X3=27 9X4=36 9X5=45 9X6=54 9X7=63 9X8=72 9X9=81

## 리스트 내포(List Comprehension)
편리 & 직관적
<pre>
* 사용법
리스트 = [(표현식) for i in (리스트) if (조건문)]

In [0]:
b=[1,2,3,4]
b.append(100)
print(b)

[1, 2, 3, 4, 100]

In [0]:
# 3곱하여 담기
a = [1,2,3,4]
r=[]
for i in a:
  r.append(i*3)
print(r)

[3, 6, 9, 12]

In [0]:
# 리스트 내포 사용
a = [1,2,3,4]
r=[i*3 for i in a]
print(r)

[3, 6, 9, 12]

In [0]:
# 짝수에만 3 곱하여 담기
a = [1,2,3,4]
r=[i*3 for i in a if i%2==0]
print(r)

[6, 12]

In [0]:
r2=[i*3 if i%2==0 else i for i in a]
print(r2)
#순서는 뒤에 포문 먼저 실행됨

[1, 6, 3, 12]

In [0]:
# 구구단

In [0]:
# 홀수에만 2 곱하기
num = [1,2,3,4,5]

In [0]:
# list comprehension
num = [1,2,3,4,5]

In [0]:
# 학급 평균점수 구하기
A = [70, 60, 55, 80, 95, 100, 60, 85, 75, 80]

In [0]:
# 1~100까지 더하기

In [0]:
# 369게임

In [0]:
# FizzBuzz 공배수

In [0]:
# FizzBuzz

## 튜플 for 문

In [0]:
#튜플을 리스트로 만들기
a = (1,2,3,4)
r=[]
for i in a:
  r.append(i)

## 딕셔너리 for 문

In [42]:
a = {'a':1, 'b':2, 'c':3, 'd':4}
for i in a.keys():
  print(i*3)

aaa
bbb
ccc
ddd

In [43]:
for i in a.values():
  print(i*3)

3
6
9
12

In [46]:
for i in a.items():
  print(i*3)

('a', 1, 'a', 1, 'a', 1)
('b', 2, 'b', 2, 'b', 2)
('c', 3, 'c', 3, 'c', 3)
('d', 4, 'd', 4, 'd', 4)